// @function paper_height($width) {
//    @return $width * 10;
// }

@mixin vt-center {
    top: 40%;
}

@mixin avoid-break {
    @media print {
        page-break-inside: auto;
    }
}

.sideSection {
    margin-bottom: 1rem;
}

.experience {
    &__item {
        &:not(:first-child) {
            padding-top: 0rem;
        }
        margin-bottom: 1px;
        margin-top: 1px;
    }

    &__bullet {
        list-style: square outside;
        margin-left: 2.4rem;
    }
}
.content {
    &__left {
        @media screen {
            &::after {
                // content: "2025 © by Andrew Selkirk";
                content: "";
            }
        }
    }
    &__right {
        @include shadow(0);
    }
}

.contact {
    &__item {
        & > span {
            @include vt-center;
            font-size: 1.5rem;
        }
    }
}

.references {
    &__contact {
        & > span {
            top: 50%;
            font-size: 1.1rem;
        }
    }
}
