# Sample workflow for building and deploying a Hugo site to GitHub Pages
name: Deploy Hugo site to Pages

on:
    # Runs on pushes targeting the default branch
    push:
        #branches: ["main"]
        tags:
            - "v*"

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
    contents: read
    pages: write
    id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
    group: "pages"
    cancel-in-progress: false

# Default to bash
defaults:
    run:
        shell: bash

jobs:
    # Build job
    build:
        runs-on: ubuntu-latest
        env:
            HUGO_VERSION: 0.147.9
            DARTSASS_VERSION: 1.89.2
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  submodules: recursive

            - name: Setup Hugo
              uses: peaceiris/actions-hugo@v3
              with:
                  hugo-version: ${{ env.HUGO_VERSION }}
                  extended: true

            - name: Install Dart Sass
              uses: dw-labs-org/dart-sass-gha@v1
              with:
                  version: ${{ env.DARTSASS_VERSION }}

            - name: Setup Pages
              id: pages
              uses: actions/configure-pages@v5

            - name: Build with Hugo
              env:
                  HUGO_CACHEDIR: ${{ runner.temp }}/hugo_cache
                  HUGO_ENVIRONMENT: production
              run: |
                  echo "BaseURL: ${{ steps.pages.outputs.base_url }}"
                  hugo --cleanDestinationDir --baseURL "${{ steps.pages.outputs.base_url }}/"

            - name: Generate PDF
              uses: noworrieseh/hugo-pdf-action@latest
              with:
                  source: "public/index.html"
                  pdf: "public/resume.pdf"
                  height: "11in"

            - name: Add version to PDF
              run: |
                  TAG_NAME="${GITHUB_REF##*/}"
                  cp public/resume.pdf "public/resume-${TAG_NAME}.pdf"
                  cp "public/resume-${TAG_NAME}.pdf" .

            - name: Upload artifacts to Pages
              uses: actions/upload-pages-artifact@v3
              with:
                  path: ./public

            - name: Upload resume
              uses: actions/upload-artifact@v4
              with:
                  name: release-pdf
                  path: ./resume*.pdf

    # Deployment job
    deploy:
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4

    release:
        needs: build
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Download PDF artifact
              uses: actions/download-artifact@v4
              with:
                  name: release-pdf
                  path: ./release-assets

            - name: Create GitHub Release
              uses: softprops/action-gh-release@v1
              with:
                  files: ./release-assets/*.pdf
                  draft: false
                  prerelease: false
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
